{
  "semi": false,
  "singleQuote": true,
  "bracketSpacing": false,
  "trailingComma": "es5",
  "importOrder": ["^[~/]", "^[./]"],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "plugins": ["@trivago/prettier-plugin-sort-imports"]
}
