<<<<<<< HEAD
::selection {
  background: rgba(3, 169, 244, 0.2);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

=======
>>>>>>> 911e4bbd2acdde8833d48ba1c171ee2059c91f79
html {
  font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue',
    Arial, sans-serif;
  font-size: calc(16px + 0.33vw);
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

<<<<<<< HEAD
body {
  color: #121212;
  transition: color 350ms ease-in-out, background-color 350ms ease-in-out;
}

body.dark {
=======
::selection {
  background: rgba(3, 169, 244, 0.2);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

body {
  color: #121212;
  transition: all 350ms ease-in-out;
}

.dark-mode body {
>>>>>>> 911e4bbd2acdde8833d48ba1c171ee2059c91f79
  background-color: #303030;
  color: #fafafa;
}

h1 {
  font-size: 3.5em;
  font-weight: 600;
}

p {
  font-weight: 300;
  line-height: 1.4;
  padding-top: 0.75em;
  padding-bottom: 0.75em;
}

a {
  text-decoration: none;
  color: currentColor;
  padding: 0 2px 2px;
  transition-duration: 150ms;
  transition-property: color, box-shadow, border-radius;
  box-shadow: 0 10px 0 0 rgba(3, 169, 244, 0), inset 0 -0.125em rgba(3, 169, 244, 0.2);
}

<<<<<<< HEAD
@media (hover: hover) {
  a:hover {
    border-radius: 2px;
    color: rgb(3, 169, 244);
    box-shadow: 0 0 0 4px rgba(3, 169, 244, 0.2), inset 0 -1.5em 0 rgba(3, 169, 244, 0.2);
  }
}

@media (hover: none) {
  a {
    box-shadow: 0 10px 0 0 rgba(3, 169, 244, 0), inset 0 -0.2em rgba(3, 169, 244, 0.2);
  }
=======
a:hover {
  border-radius: 2px;
  color: rgb(3, 169, 244);
  box-shadow: 0 2px 0 4px rgba(3, 169, 244, 0.2), inset 0 -1.5em 0 rgba(3, 169, 244, 0.2);
>>>>>>> 911e4bbd2acdde8833d48ba1c171ee2059c91f79
}
